
@font-face {
  font-family: 'iconfont';  /* project id 1247035 */
  src: url('//at.alicdn.com/t/font_1247035_2nudkvwa9f.eot');
  src: url('//at.alicdn.com/t/font_1247035_2nudkvwa9f.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1247035_2nudkvwa9f.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1247035_2nudkvwa9f.woff') format('woff'),
  url('//at.alicdn.com/t/font_1247035_2nudkvwa9f.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1247035_2nudkvwa9f.svg#iconfont') format('svg');
}

div,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

ul,
li {
  list-style-type: none;
  padding:0;
  margin:0;
}

body {
  background-color: black;
  overflow: hidden;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
  padding:0;
  margin:0;
}

/*::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(13, 15, 25, 0.7);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(13, 15, 25, 0.7);
}*/
/*通用样式文件*/
.model_title{
  line-height: 57px;
  padding-left: 19px;
  font-size: 16px;
  border-bottom:solid 1px   #01c3e4;
  /*background: url("../../static/images/title_border.png") no-repeat;*/

}
.index_model{
  width: 231px;
  /*border: solid 1px pink;*/
  margin: 0 auto;
  position: relative;
  top: 23px;
  color: #01ddff;
}
.model_title{
  line-height: 57px;
  padding-left: 10px;
  font-size:16px;
}
.model_title span{


}
.clear {
  clear: both;
  height: 0;
}

.clear-fix:after,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
.model_content{
  font-size: 14px;
  padding:15px 10px 10px 10px;
  text-align: center;
}
.first_line{

}
.second_line{
  color:#fff;
  padding:10px 0;
  border-bottom: solid 1px #01c3e4;
}


.index_right_model{
  width: 279px;
  margin: 0 auto;
  position: relative;
  top: 30px;
  color: #01ddff;
}

.content_table{
  border:solid 1px  #01ddff;
  margin-top: 10px;
}

.border-right{
  border-right: solid 1px  #01ddff;;
}
.el-table th,  .el-table tr {
  background-color: transparent !important;
  color: #01bdf5 !important;
}
 .el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: transparent !important;
}
.el-checkbox{
  color: #fff!important;
}
/* 滚动条凹槽的颜色，还可以设置边框属性 */
::-webkit-scrollbar-track-piece {
  background-color: #031823!important;
}
/* 滚动条的宽度 */
::-webkit-scrollbar {
  width: 10px!important;
  height: 15px!important;
}
/* 滚动条的设置 */
::-webkit-scrollbar-thumb {
  background-color: #058cd0!important;
  background-clip: padding-box!important;
  min-height: 28px!important;
  /* border-radius: 8px!important; */
}
.el-tree-node__content:hover {
    background-color: transparent!important;
  }
.el-tree-node:focus>.el-tree-node__content {
      background-color: transparent;
    }
/* ::-webkit-scrollbar-thumb:hover {
  background-color: #058cd0!important;
} */
/* .el-pagination.is-background .el-pager li {
  margin: 0 5px;
  background-color:transparent !important;
  color: #01bdf5 !important;
  min-width: 30px;
  border-radius: 2px;
} */

/* .el-table td, .el-table th.is-leaf {
  border-bottom: 1px solid #01bdf5 ;
} */


