
@font-face {
  font-family: 'iconfont';  /* project id 1247035 */
  src: url('//at.alicdn.com/t/font_1247035_2nudkvwa9f.eot');
  src: url('//at.alicdn.com/t/font_1247035_2nudkvwa9f.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1247035_2nudkvwa9f.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1247035_2nudkvwa9f.woff') format('woff'),
  url('//at.alicdn.com/t/font_1247035_2nudkvwa9f.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1247035_2nudkvwa9f.svg#iconfont') format('svg');
}

div,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

ul,
li {
  list-style-type: none;
  padding:0;
  margin:0;
}

body {
  background-color: black;
  overflow: hidden;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
  padding:0;
  margin:0;
}

/*::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(13, 15, 25, 0.7);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(13, 15, 25, 0.7);
}*/
/*通用样式文件*/
.model_title{
  line-height: 57px;
  padding-left: 19px;
  font-size: 16px;
  border-bottom:solid 1px   #01c3e4;
}
.index_model{
  width: 231px;
  /*border: solid 1px pink;*/
  margin: 0 auto;
  position: relative;
  top: 23px;
  color: #01ddff;
}
.model_title{
  line-height: 57px;
  padding-left: 10px;
  font-size:16px;
}

.clear {
  clear: both;
  height: 0;
}

.clear-fix:after,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
.model_content{
  font-size: 14px;
  padding:15px 10px 10px 10px;
  text-align: center;
}

.second_line{
  color:#fff;
  padding:10px 0;
  border-bottom: solid 1px #01c3e4;
}


.index_right_model{
  width: 279px;
  margin: 0 auto;
  position: relative;
  top: 30px;
  color: #01ddff;
}

.content_table{
  border:solid 1px  #01ddff;
  margin-top: 10px;
}

.border-right{
  border-right: solid 1px  #01ddff;;
}

 .el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: transparent !important;
}


.el-tree-node:focus>.el-tree-node__content {
    background-color: transparent;
  }


 .el-pagination__total {
  color: #ffffff !important;
}
 .el-pagination__jump {
  color: #ffffff !important;
}
 .el-pagination .el-select .el-input .el-input__inner {
  color: #ffff;
}
  .el-scrollbar__wrap{
    height: 100%!important;
    margin-bottom: 0px!important;
    margin-right:0px!important;
    overflow: hidden!important;
  }


/* 修改滚动条的样式 */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #a1a3a9;
  border-radius: 3px;
}
  


.el-checkbox{
  /* color: #fff!important; */
}

  /* 滚动条凹槽的颜色，还可以设置边框属性 */
::-webkit-scrollbar-track-piece {
  /* background-color: #031823!important; */
}
/* 滚动条的宽度 */
::-webkit-scrollbar {
  /* width: 10px!important; */
  /* height: 15px!important; */
}
/* 滚动条的设置 */
::-webkit-scrollbar-thumb {
  /* background-color: #058cd0!important; */
  /* background-clip: padding-box!important; */
  /* min-height: 28px!important; */
  /* border-radius: 8px!important; */
}
.el-radio{
  /* color:#fff!important; */
}
.el-table th,  .el-table tr {
  /* background-color: transparent !important; */
  /* color: #01bdf5 !important; */
}
.el-input__inner {
  /* padding-left: 10px !important; */
  /* color: #058cd0; */
  /* border: 1px solid #058cd0; */
  /* background: #031823; */
  /* -webkit-box-shadow: 0px 0px 4px 0px rgb(19 255 187 / 30%); */
  /* box-shadow: 0px 0px 4px 0px rgb(19 255 187 / 30%); */
  /* font-size: 16px !important; */
  /* height: 30px !important; */
}